* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url("../images/yyoo.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  font-family: 'Orbitron', sans-serif;
  /* font-family: 'Antonio', sans-serif; */
}

/*------Start--LogIn--Page----*/
.main-content {
  width: 50%;
  border-radius: 20px;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.4);
  margin: 5em auto;
  display: flex;
}

.company__info {
  background-color: #57b7d7;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #fff;
}

@media screen and (max-width: 640px) {
  body {
    background-repeat: no-repeat;
    background-size: auto;
  }

  .main-content {
    width: 90%;
  }

  .company__info {
    display: none;
  }

  .login_form {
    border-radius: 20px;
  }

  .myBtn {
    margin-left: 10px;
  }

  #myUL {
    width: 60%;
    height: 300px;
    margin-left: 10%;
  }

  .swimmerDescriptions {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }

  #LeftDesc {
    float: left;
    margin-left: 1px;
  }

  #rightDesc {
    margin-right: -3px;
    float: right;
  }


}

@media screen and (min-width: 642px) and (max-width: 800px) {
  body {
    background-repeat: no-repeat;
    background-size: auto;
  }

  .main-content {
    width: 70%;
  }

  .myBtn {
    margin-left: 20px;
  }

  #myUL {
    width: 80%;
    margin-left: 10%;
  }

}

@media screen and (min-width: 800px) and (max-width:1600px) {
  body {
    background-repeat: no-repeat;
    background-size: auto;
  }

}

@media screen and (min-width: 1400px) and (max-width: 1600px) {
  body {
    background-repeat: no-repeat;
    background-size: auto;
  }
}

.row>h2 {
  margin-top: 25px;
  color: #008080;
}

.login_form {
  background-color: #fff;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-top: 1px solid #ccc;
  border-right: 1px solid #ccc;
}

.white-border {
  height: 100%;
}

form {
  padding: 0 2em;
}

.input-field {
  border: 0px solid transparent;
  border-radius: 0;
  border-bottom: 1px solid #aaa;
  padding: 1em 0.5em 0.5em;
  padding-left: 2em;
  outline: none;
  margin: 1.5em auto;
  transition: all 0.5s ease;
  width: 90%;
}

.form__input {
  width: 100%;
  border: 0px solid transparent;
  border-radius: 0;
  border-bottom: 1px solid #aaa;
  padding: 1em 0.5em 0.5em;
  padding-left: 2em;
  outline: none;
  margin: 1.5em auto;
  transition: all 0.5s ease;
}

.form__input:focus {
  border-bottom-color: #008080;
  box-shadow: 0 0 5px rgba(0, 80, 80, 0.4);
  border-radius: 4px;
}

.myBtn {
  transition: all 0.5s ease;
  width: 70%;
  border-radius: 30px;
  color: #008080;
  font-weight: 600;
  background-color: #fff;
  border: 1px solid #008080;
  margin-top: 1.5em;
  margin-bottom: 1em;
  margin-left: 70px;
}

.myBtn:hover,
.myBtn:focus {
  background-color: #008080;
  color: #fff;
}

/*------End--LogIn--Page----*/

/*------Start--Index--Page----*/



.categoryBox {
  display: flex;
  flex-direction: row;
}

.categories a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.453);
}

.categories a:hover {
  font-weight: bold;
}

.material-icons {
  font-size: 30px;
  margin-bottom: 30px;
  margin-right: 30px;
  color: rgba(61, 60, 60, 0.848);
}

.container {
  margin-left: 0;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/*------Start--NavBar----*/

.navbar {
  margin-top: 10px;
  margin-left: 25px;
  position: relative;
  z-index: 120;
}

.fa-bars {
  font-size: 25px;
  color: rgb(124, 124, 124);
  cursor: pointer;
}

.fa-times-circle {
  cursor: pointer;
  color: rgba(124, 124, 124, 0.706);
}

.personImg {
  margin-bottom: 25%;
  margin-left: 25%;
}

.personImg img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: relative;
}

.navLine {
  border: 0.4px solid rgba(192, 192, 192, 0.619);
  width: 250px;
}

#underLine {
  margin-bottom: 50px;
}

.navbar i.active {
  background-color: rgb(245, 245, 245);
  border-radius: 90px 0px 90px 0px;
  width: 60px;
  padding-top: 0;
}

.SideNav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  background-color: rgba(245, 245, 245, 0.829);
  overflow-x: hidden;
  transform: translateX(-400px);
  transition: 0.5s;
  padding-top: 60px;
}

.SideNav ul {
  text-decoration: none;
  font-size: 20px;
  display: block;
  flex-direction: column;
  padding-right: 55px;
  list-style-type: none;
  transition: 0.6s;
}

.SideNav li {
  text-decoration: none;
  display: block;
  flex-direction: column;
  padding-right: 20px;
  list-style-type: none;
  transition: 0.6s;
}

.SideNav.active {
  background-color: rgb(245, 245, 245);
  width: 360px;
  height: 100%;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  overflow-x: hidden;
  transform: translateX(0px);
  transition: 0.5s;
  padding-top: 60px;
  -webkit-box-shadow: 12px 2px 20px 2px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 12px 2px 20px 2px rgba(0, 0, 0, 0.75);
  box-shadow: 12px 2px 20px 2px rgba(0, 0, 0, 0.75);
}

.SideNav .fa-times-circle {
  color: black;
  position: absolute;
  top: 16px;
  right: 16px;
  font-size: 30px;
  margin-left: 100px;
}

/*------End--NavBar----*/

#sensors {
  font-size: 2.5rem;
  margin-top: 10px;
  margin-left: 20px;
  position: relative;
}

#sensors .active {
  color: turquoise;
}

.personLogoLogIn {
  margin-right: 28px;
  margin-top: 28px
}

/*----section search-and-logo---*/

.search-and-logo {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.search-and-logo img {
  height: 100px;
  width: 100px;
  margin-right: 25px;
}

.search-and-logoSwimmerPage {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
}

.search-and-logoSwimmerPage img {
  height: 100px;
  width: 100px;
  margin-right: 25px;
}

#arrow_back,
#editSwimmer,
#delete_outline,
#settingsSwimmer {
  margin-top: 20px;
  cursor: pointer;
}

#arrow_back a {
  text-decoration: none;
  color: rgb(67, 66, 66);
}

.swimmerNameTitle {
  display: flex;
  justify-content: center;
  margin-right: 20px
}

#SwimmerTitle {
  margin-right: 25px;
}

.search-and-logo input {
  width: 40%;
  border-radius: 20px;
  border: 2px solid rgba(105, 104, 104, 0.333);
}

/* .material-symbols-outlined {
  font-variation-settings: "FILL"0, "wght"400, "GRAD"0, "opsz"48;
} */



.swimmers {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.swimmer-list {
  display: flex;
  flex-direction: row;
  margin-top: 12px;
}

#myUL {
  border-radius: 20px;
  height: 300px;
  overflow-y: scroll;
  scrollbar-width: none;
  list-style: none;
  padding: 0;
  margin: 10px;
  margin-left: 10%;
  width: 80%;
  display: flex;
  flex-direction: column;
}

#myUL li {
  display: flex;
}

#myUL li a {
  margin-top: -1px;
  background-color: rgba(202, 202, 202, 0.12);
  width: 100%;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  text-align: left;
  color: black;
  display: flex;
}

#myUL li a:hover:not(.header) {
  background-color: rgb(199, 199, 199);
}

.Delete {
  color: red;
  cursor: pointer;
  display: none;
  margin-right: 25px;
  margin-top: 15px;
}

.Delete:hover {
  font-weight: bold;
}

.Description {
  color: rgb(106, 106, 106);
  margin-left: 30%;
}


#imgSwimLogo {
  width: 70px;
  height: 70px;
}

.footerBtn {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #006E8C;
  border-radius: 20px 20px 0 0;
  color: white;
  text-align: center;
}

#tungsten,
#history,
#compare {
  color: white;
  margin: 0;
  margin-top: 10px;
  cursor: pointer;
}

.loginPopup {
  position: relative;
  text-align: center;
  width: 100%;
}

.formPopup {
  display: none;
  position: fixed;
  left: 50%;
  top: 1px;
  transform: translate(-50%, 5%);
  border: 1px solid #999999;
  z-index: 9;
}

.formContainer {
  max-width: 700px;
  padding: 20px;
  background-color: white;
}

.formContainer input[type=text],
.formContainer input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 20px 0;
  border: none;
  background: #eee;
}

.formContainer input[type=text]:focus,
.formContainer input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

.formContainer .btn {
  padding: 12px 20px;
  border: none;
  background-color: #8ebf42;
  color: #fff;
  cursor: pointer;
  width: 100%;
  margin-bottom: 15px;
  opacity: 0.8;
}

.formContainer .cancel {
  background-color: #cc0000;
}

.formContainer .btn:hover,
.openButton:hover {
  opacity: 1;
}

#accomplishments {
  width: 260px;
  height: 55px;
  margin-bottom: 12px;
  border: none;
}

#accomplishments option {
  color: black;
  width: 100px;
}

.swimmerDescriptions {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 0px;
}

#LeftDesc {
  float: left;
}

#rightDesc {
  float: right;

}

.cardElment {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-top: 40px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 300px;
  height: 300px;
  margin: 5px;
  border-radius: 5px;
}


.card:hover {
  cursor: pointer;
  background-color: rgb(223, 237, 250);
  box-shadow: 0 60px 120px 0 rgba(42, 108, 165, 0.506);
  ;
}

.card img {
  border-radius: 5px 5px 5px 5px;
  height: 150px;
}
.card-title{
  color: #008080;
  margin-top: 3px;
  text-align: center;
}
.card-text{
  margin-top: 25px;
  font-size: 20px;
  margin-left: 15px;
}
.addAndEditBtn{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.Training{
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.btn-primary,.btn-info{
  margin-left: 15px;
  margin-right: 15px;
  width: 200px;
  height: 58px;
  text-align: center;
}


.container {
  max-height: 50%;
  padding: 2px 16px;
}
@media only screen and (max-width : 768px) {
  .card {
    display: block !important;
    width: 200px !important;
    height: 200px !important;
    flex: none !important;
  }
  .card-text{
    margin-top: 0px;
    font-size: 12px;
  }
@media only screen and (max-width : 844PX) {
  .card {
    display: block !important;
    width: 180px !important;
    height: 180PX !important;
    flex: none !important;
  }
  .card-text{
    margin-bottom: 10px;
    font-size: 10px;
  }
  #LeftDesc h6 , #rightDesc h6 {
    font-size: 12px;
  }
  
.formBox{
  margin-left: 0px !important;
  width: auto;
}
  
}
}
.col-xs-12 h2{
  font-size:35px;
  text-align:center;
  text-shadow:2px 1px 1px #fff;
}

.formBox{
  margin-left: 45%;
  max-width:500px;
  background:rgb(255, 255, 255);
  padding:50px;
  border-radius:20px;
  box-shadow:5px 4px 10px;
}

.inputBox{
  position:relative;
  margin-top:40px;
  }


.input{
  width:100%;
  height:40px;
  border:none;
  border-bottom:1px solid rgb(119, 177, 253);
  background:transparent;
}

.inputText{
  position:absolute;
  color:rgb(0, 0, 0);
  line-height:50px;
  transition:.5s ease;
  opacity:.5;
}


.focus .inputText{
  transform:translateY(-30px);
  color:rgb(128, 219, 255);
}

textarea{
  height:100px !important;
  border:none;
  border-bottom:2px solid rgb(119, 177, 253);
  background:transparent;
  
}

.button{  
  width:100%;
  height:40px;
  border:none;
  font-weight:bold;
  font-size:20px;
  border-radius:10px;
  position:relative;
  top:40px;
  outline:none;
}

.button:hover{
   background:#17878d;
}